# ===== Carpetas generadas por Maven =====
target/

# ===== IDE =====
.idea/
*.iml

# ===== Git =====
.git
.gitignore
.gitattributes

# ===== Logs =====
*.log

# ===== Archivos temporales =====
*.tmp
*.swp
*.swo

# ===== Sistema operativo =====
.DS_Store
Thumbs.db

# ===== No subir configuraciones reales =====
application.properties
application.yml